extends ../layout_simple

block content
  h1 Bad Memory Admin Console
  ul
    li: a(href="/admin/users") see all currently registered users
    //- TODOXXX pages in the database
    //- TODOXXX sentences in the database
    //- TODOXXX words in the database
